.cc-related-links {
  margin-bottom: govuk-spacing(8);
  padding-top: govuk-spacing(2);
  border-top: 3px solid govuk-colour('blue');

  .cc-related-links--list {
    list-style-type: none;
    padding-left: 0;
  }
  .cc-related-links--item {
    margin-bottom: govuk-spacing(2);
  }

  &--link {
    height: 24px;
    color: govuk-colour('blue');

    svg {
      vertical-align: middle;
      background-color: govuk-colour('blue');
      color: white;
      margin-right: govuk-spacing(2);
      border: 2px solid govuk-colour('blue');
      box-sizing: content-box;
    }
  }
}

.cc-signup-types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .cc-related-links--link {
    flex-grow: 1;
  }
}

.cc-related-links-item-title {
  @extend %govuk-heading-m;
  color: govuk-colour('blue');
}

.cc-related-links-description {
  @extend %govuk-body-m;
}
