.vscode/
logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
.env.local
.env.development.local
.env.test.local
.env.production.local

data
omelette
*~
.idea
*.iml
.vscode/
logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
.env.local
.env.development.local
.env.test.local
.env.production.local

data
omelette
*~
.idea
*.iml

plone-5/buildout-cache/
plone-5/Pipfile
plone-5/Pipfile.lock
plone-5/instance/.installed.cfg
plone-5/instance/README.html
plone-5/instance/adminPassword.txt
plone-5/instance/base.cfg
plone-5/instance/bin/addzope2user
plone-5/instance/bin/backup
plone-5/instance/bin/instance
plone-5/instance/bin/mkwsgiinstance
plone-5/instance/bin/mrbob
plone-5/instance/bin/plonectl
plone-5/instance/bin/repozo
plone-5/instance/bin/restore
plone-5/instance/bin/runwsgi
plone-5/instance/bin/snapshotbackup
plone-5/instance/bin/snapshotrestore
plone-5/instance/bin/update_locale
plone-5/instance/bin/zconsole
plone-5/instance/bin/zeo
plone-5/instance/bin/zeopack
plone-5/instance/bin/zeoserver
plone-5/instance/bin/zopepy
plone-5/instance/buildout-base.cfg
plone-5/instance/buildout.cfg
plone-5/instance/develop.cfg
plone-5/instance/lxml_static.cfg
plone-5/instance/parts/README.txt
plone-5/instance/parts/instance/bin/README.txt
plone-5/instance/parts/instance/bin/interpreter
plone-5/instance/parts/instance/etc/package-includes/002-kitconcept.volto.cors-configure.zcml
plone-5/instance/parts/instance/etc/package-includes/998-resources-configure.zcml
plone-5/instance/parts/instance/etc/package-includes/999-additional-overrides.zcml
plone-5/instance/parts/instance/etc/site.zcml
plone-5/instance/parts/instance/etc/wsgi.ini
plone-5/instance/parts/instance/etc/zope.conf
plone-5/instance/parts/instance/var/README.txt
plone-5/instance/parts/zeo/bin/runzeo
plone-5/instance/parts/zeo/bin/zeoctl
plone-5/instance/parts/zeo/etc/.eggs
plone-5/instance/parts/zeo/etc/zeo.conf
plone-5/instance/parts/zeoserver/bin/runzeo
plone-5/instance/parts/zeoserver/bin/zeoctl
plone-5/instance/parts/zeoserver/etc/.eggs
plone-5/instance/parts/zeoserver/etc/zeo.conf
plone-5/instance/requirements.txt
