.vscode/
logs
*.log
npm-debug.log*
.DS_Store
*~
.idea
*.iml

coverage
build
.env.local
.env.development.local
.env.test.local
.env.production.local

volto/data
volto/node_modules
volto/omelette
volto/src/addons/*/node_modules/

plone-5/buildout-cache/
plone-5/Pipfile
plone-5/Pipfile.lock
plone-5/instance/
!plone-5/instance/custom.cfg