// Adapted from https://github.com/alphagov/govuk-design-system/blob/main/src/stylesheets/components/_masthead.scss

.app-masthead__tag {
  color: govuk-colour('blue');
  @include govuk-responsive-margin(2, 'bottom');
}

.app-masthead__title {
  color: govuk-colour('white');
  @include govuk-responsive-margin(6, 'bottom');
}

.app-masthead__description {
  @include govuk-font(24);
  @include govuk-responsive-margin(6, 'bottom');
}

.app-masthead__grid-row {
    display: flex;
}

.app-masthead__grid-column {
    flex: 1;
}

.app-masthead__start,
.app-masthead__start:link,
.app-masthead__start:visited,
.app-masthead__start:active,
.app-masthead__start:hover {
  color: govuk-colour('blue');
}

.app-masthead__image {
  display: none;

  @include govuk-not-ie8 {
    @include govuk-media-query($from: desktop) {
      display: block;
      width: 100%;
      margin-top: -75px;
      margin-bottom: govuk-spacing(-7);
      padding-left: govuk-spacing(8);
      padding-right: govuk-spacing(8);
    }
  }
}

div.cc-phasebanner-masthead {
  border-bottom: none;
  margin-bottom: govuk-spacing(6);
  strong.govuk-phase-banner__content__tag {
    background: govuk-colour('light-grey');
  }
  strong.govuk-tag {
    color: govuk-colour('blue');
  }
  p.govuk-phase-banner__content {
    color: govuk-colour('white');
  }
  a {
    color: govuk-colour('white');
  }
}
