**
!.eslintrc.js
!babel.config.js
!jsconfig.json
!package.json
!package-cc2.json
!razzle.config.js
!yarn.lock
!locales
!patches
!public
!src
src/addons/chart-builder
!theme
!mrs.developer.json
**/node_modules