.notification_banner {
  position: relative;
  background-color: govuk-colour('yellow');
  // this is here to slightly overlap the headers bottom border
  top: -10px;
  margin-bottom: -10px;
}

.notification_banner--non-root {
  background-color: govuk-colour('blue');
}

.notification_banner__wrapper {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.notification_banner__icon--non-root {
  background-color: govuk-colour('white');
  color: govuk-colour('blue');
  border-color: govuk-colour('white');
}

.notification_banner__text {
  color: #0b0c0c;
}
.notification_banner__text--non-root {
  color: govuk-colour('white');
}

.notification_banner__link {
  color: govuk-colour('blue') !important;
}
.notification_banner__link--non-root {
  color: govuk-colour('white') !important;
}
