main {
  display: block;
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {

  .content-area > .volto-width-container--wide {
    min-height: 100%;
    display: grid;
    grid-template-columns: 256px auto;
    column-gap: 32px;
  }

}

.volto-width-container--wide .hamburger {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.ui.segment.content-area {
  padding: 0;
  margin: 0;
}

