.pad-for-download {
  padding: 32px;
  width: calc(100% + 64px);
  margin: 0px !important;
}

.figure {
  margin-bottom: 32px;
  margin-top: 32px;
  margin-left: 0;
  background-color: #fff;

  &__text,
  p {
    @media only screen and (min-width: 801px) {
      width: 66.7%;
    }
    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }

  h2.figure__text {
    font-size: 24px;
  }

  .js-plotly-plot {
    margin-bottom: 16px;
  }

  ol {
    padding-left: 16px;
  }
  li {
    color: #505a5f;
  }
  li p {
    font-size: 16px;
    color: #505a5f;
    margin-bottom: 8px;
  }

  &--bg-white-smoke {
    border-bottom: 1px solid #505a5f;
  }
}
