.cc-article-list {
  @extend %govuk-heading-m;
  color: govuk-colour('blue');
}

.cc-article-list-description {
  @extend %govuk-body-m;
}

.cc-article-preview {
  margin-bottom: govuk-spacing(5);
  &--date {
    color: govuk-colour('mid-grey');
  }
}

.cc-article-featured {
  margin-bottom: govuk-spacing(8);
}
