.cc-article-list {
  text-decoration: none;
}

.cc-article-preview {
  margin-bottom: govuk-spacing(8);

  &--date {
    color: govuk-colour('mid-grey');
  }
}

.cc-article-featured {
  margin-bottom: govuk-spacing(8);
}
