.cc-bar-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cc-bar {
	width: 100%;
	margin: 12px 0px;
	display: flex;
	flex-direction: row;
}
